.taskCard {
  background-color: #363636d2;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 2vh;
   margin: 10px 0;
   border-radius: 10px;
   font-family: 'Be Vietnam Pro', sans-serif;
 }

 .taskCard > div {
  margin-left: 10px;
  flex: 1 0 80%;
 }

 .taskCard > div >h2 {
  color: rgb(216, 163, 64);
  word-wrap: break-word;
 }

 .taskCard > div >p {
  color: white;
  word-wrap: break-word;
 }


 .iconDelete{
  align-self: center;
  font-size: 25px;
  margin-right: 10px;
  color: rgb(163, 115, 115);
  flex: 1 0 auto;
 }