
.Form {
 background-color: #363636d2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3vh;
  border-radius: 10px;
}

.input {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  margin: 10px;}

.input > input{
  background: transparent;
  border: solid 1px white;
  padding: 1vh;
  border-radius: 5px;
}

.input > textarea{
  background: transparent;
  border: solid 1px white;
  padding: 1vh;
  border-radius: 5px;
}

.input > h5 {
  color: #dadada;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 100;
  margin: 0 0 8px 0;
}

.addTask{
  flex-grow: 1;
}