@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

.Form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 80px 0 0 0;
  width: 70%;
}

.Form > button{
  
}

.inputs{
  display: flex;
  flex-direction: column;
  margin: 0 0 10px;
  flex-grow: 1;
  padding: 30px;
}

.inputs > input {
  border: 2px solid white;
  height: 30px;
  padding: 10px;
  font-size: 2vh;
  font-family: 'Be Vietnam Pro', sans-serif;
  margin: 0 0 10px 0;
  border-radius: 5px;
  background-color: transparent;
}

.inputs > textarea {
  border: 2px solid white;
  height: 100px;
  padding: 10px;
  font-size: 2vh;
  font-family: 'Be Vietnam Pro', sans-serif;
  border-radius: 5px;
  background-color: transparent;
}

input:focus, textarea:focus {
  outline: none;
  border-color: rgb(36, 182, 182);
}

.inputs > input::placeholder, textarea::placeholder{
  font-size: 2vh;
  font-family: 'Be Vietnam Pro', sans-serif;
  color: antiquewhite;
}